APP_NAME="Train-Tracking-System"
APP_ENV=local
APP_HOST=train-tracking-system.localhost

IMAGE_NAME=Train-Tracking-Syste,
COMPOSE_PROJECT_NAME=train_tracking_system
COMPOSE_REPLICAS=1
COMPOSE_PUBLIC_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=go_base
DB_USERNAME=root
DB_PASSWORD=passroot
DB_TIMEZONE=UTC

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_DATABASE=
REDIS_LIFETIME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

WEB_URL=

AES_ENCRYPT_KEY="8SJlyipAQlOVM9nP"
AES_EXTERNAL_DECRYPT_KEY=
JWT_EXPIRATION_TIME=43800
JWT_SECRET_KEY="ZjpSy2XE9UBEYp9W1YS4CNylfvsY5eqSWM7yLEunBvRKxf6wpR0ZENvaP6PsFNlo"

